/* Styling for webpage */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: url('assignment3.jpg') no-repeat center center/cover;
}

header {
    background: url('assignment3.jpg') no-repeat center center/cover;
    color: rgb(227, 232, 238);
    text-align: center;
    padding: 50px 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #a01094;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 20px;
}

.btn:hover {
    background-color: #01070e;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #080808;
    border-radius: 5px;
    background-color: #0d71aa;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

fieldset {
    margin: 10px 0;
}

fieldset legend {
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(50, 47, 236);
    background-color: #7b85dd;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header, main {
        padding: 10px;
    }

    form {
        width: 100%;
    }

    .btn {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 769px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    form > * {
        grid-column: span 2;
    }
}
